In [14]:
from pyhive import hive
import pymysql
conn = hive.Connection(host='127.0.0.1', port=10000, username='root')
cursor = conn.cursor()

In [15]:
def exec_sql(sql):
    cursor.execute(sql)
    for result in cursor.fetchall():
        print(result)

# table_6_relation_among_date_class_boxo(年份、类别与票房的关系)

注：由于样本的数据只有近三年的，所以本来想按上下半年分，但是这样的话，代码量会爆炸，考虑到后续还有工作要做，索性就按三年分了

# 2016

爱情

In [20]:
t_romance_sql = '''SELECT '2016','t_romance',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_romance=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(t_romance_sql)

In [ ]:
del t_romance_sql

喜剧

In [ ]:
t_comedy_sql = '''SELECT '2016','t_comedy',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_comedy=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(t_comedy_sql)

In [ ]:
del t_comedy_sql

动画

In [ ]:
t_animate_sql = '''SELECT '2016','t_animate',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_animate=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(t_animate_sql)

In [ ]:
del t_animate_sql

剧情

In [ ]:
t_plot_sql = '''SELECT '2016','t_plot',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_plot=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(t_plot_sql)

In [ ]:
del t_plot_sql

恐怖

In [ ]:
t_horror_sql = '''SELECT '2016','t_horror',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_horror=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(t_horror_sql)

In [ ]:
del t_horror_sql

惊悚

In [ ]:
t_thriller_sql = '''SELECT '2016','t_thriller',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_thriller=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(t_thriller_sql)

In [ ]:
del t_thriller_sql

科幻

In [ ]:
t_science_sql = '''SELECT '2016','t_science',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_science=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(t_science_sql)

In [ ]:
del t_science_sql

动作

In [ ]:
t_action_sql = '''SELECT '2016','t_action',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_action=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(t_action_sql)

In [ ]:
del t_action_sql

悬疑

In [ ]:
t_suspense_sql = '''SELECT '2016','t_suspense',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_suspense=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(t_suspense_sql)

In [ ]:
del t_suspense_sql

犯罪

In [ ]:
t_crime_sql = '''SELECT '2016','t_crime',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_crime=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(t_crime_sql)

In [ ]:
del t_crime_sql

冒险

In [ ]:
t_adventure_sql = '''SELECT '2016','t_adventure',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_adventure=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(t_adventure_sql)

In [ ]:
del t_adventure_sql

战争

In [ ]:
t_war_sql = '''SELECT '2016','t_war',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_war=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(t_war_sql)

In [ ]:
del t_war_sql

奇幻

In [ ]:
t_fantasy_sql = '''SELECT '2016','t_fantasy',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_fantasy=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(t_fantasy_sql)

In [ ]:
del t_fantasy_sql

运动

In [ ]:
t_sports_sql = '''SELECT '2016','t_sports',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_sports=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(t_sports_sql)

In [ ]:
del t_sports_sql

家庭

In [ ]:
t_family_sql ='''SELECT '2016','t_family',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_family=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(t_family_sql)

In [ ]:
del t_family_sql

古装

In [ ]:
t_costume_sql = '''SELECT '2016','t_costume',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_costume=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(t_costume_sql)

In [ ]:
del t_costume_sql

武侠

In [ ]:
t_sword_sql = '''SELECT '2016','t_sword',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_sword=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(t_sword_sql)

In [ ]:
del t_sword_sql

西部

In [ ]:
t_cowboy_sql = '''SELECT '2016','t_cowboy',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_cowboy=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(t_cowboy_sql)

In [ ]:
del t_cowboy_sql

历史

In [ ]:
t_history_sql = '''SELECT '2016','t_history',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_history=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(t_history_sql)

In [ ]:
del t_history_sql

传记

In [ ]:
t_biography_sql ='''SELECT '2016','t_biography',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_biography=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(t_biography_sql)

In [ ]:
del t_biography_sql

歌舞

In [ ]:
t_dance_sql = '''SELECT '2016','t_dance',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_dance=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(t_dance_sql)

In [ ]:
del t_dance_sql

黑色电影

In [ ]:
t_dark_sql = '''SELECT '2016','t_dark',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_dark=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(t_dark_sql)

In [ ]:
del t_dark_sql

短片

In [ ]:
t_short_sql = '''SELECT '2016','t_short',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_short=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(t_short_sql)

In [ ]:
del t_short_sql

纪录片

In [ ]:
t_documentary_sql = '''SELECT '2016','t_documentary',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_documentary=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(t_documentary_sql)

In [ ]:
del t_documentary_sql

其他

In [ ]:
t_others_sql = '''SELECT '2016','t_others',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_others=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(t_others_sql)

In [ ]:
del t_others_sql

大陆

In [ ]:
c_Mainland_sql = '''SELECT '2016','c_Mainland',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Mainland=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(c_Mainland_sql)

In [ ]:
del c_Mainland_sql

美国

In [ ]:
c_America_sql = '''SELECT '2016','c_America',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_America=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(c_America_sql)

In [ ]:
del c_America_sql

韩国

In [ ]:
c_Korea_sql = '''SELECT '2016','c_Korea',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Korea=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(c_Korea_sql)

In [ ]:
del c_Korea_sql

日本

In [ ]:
c_Japan_sql = '''SELECT '2016','c_Japan',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Japan=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(c_Japan_sql)

In [ ]:
del c_Japan_sql

香港

In [ ]:
c_Hongkong_sql = '''SELECT '2016','c_Hongkong',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Hongkong=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(c_Hongkong_sql)

In [ ]:
del c_Hongkong_sql

台湾

In [ ]:
c_Taiwan_sql = '''SELECT '2016','c_Taiwan',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Taiwan=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(c_Taiwan_sql)

In [ ]:
del c_Taiwan_sql

泰国

In [ ]:
c_Thailand_sql = '''SELECT '2016','c_Thailand',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Thailand=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(c_Thailand_sql)

In [ ]:
del c_Thailand_sql

印度

In [ ]:
c_India_sql = '''SELECT '2016','c_India',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_India=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(c_India_sql)

In [ ]:
del c_India_sql

法国

In [ ]:
c_France_sql = '''SELECT '2016','c_France',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_France=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(c_France_sql)

In [ ]:
del c_France_sql

英国

In [ ]:
c_England_sql = '''SELECT '2016','c_England',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_England=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(c_England_sql)

In [ ]:
del c_England_sql

俄罗斯

In [ ]:
c_Russia_sql = '''SELECT '2016','c_Russia',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Russia=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(c_Russia_sql)

In [ ]:
del c_Russia_sql

意大利

In [ ]:
c_Italy_sql = '''SELECT '2016','c_Italy',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Italy=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(c_Italy_sql)

In [ ]:
del c_Italy_sql

西班牙

In [ ]:
c_Spain_sql = '''SELECT '2016','c_Spain',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Spain=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(c_Spain_sql)

In [ ]:
del c_Spain_sql

德国

In [ ]:
c_Germany_sql = '''SELECT '2016','c_Germany',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Germany=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(c_Germany_sql)

In [ ]:
del c_Germany_sql

波兰

In [ ]:
c_Poland_sql = '''SELECT '2016','c_Poland',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Poland=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(c_Poland_sql)

In [ ]:
del c_Poland_sql

澳大利亚

In [ ]:
c_Australia_sql = '''SELECT '2016','c_Australia',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Australia=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(c_Australia_sql)

In [ ]:
del c_Australia_sql

伊朗

In [ ]:
c_Iran_sql = '''SELECT '2016','c_Iran',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Iran=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(c_Iran_sql)

In [ ]:
del c_Iran_sql

其他

In [ ]:
c_Others_sql = '''SELECT '2016','c_Others',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Others=1 and mdate < '2016-12-31'and mdate >'2016-01-01') t2'''

In [ ]:
exec_sql(c_Others_sql)

In [ ]:
del c_Others_sql

# 2017

爱情

In [ ]:
t_romance_sql = '''SELECT '2017','t_romance',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_romance=1 and mdate <='2017-12-31'and mdate >='2017-01-01') t2'''

In [ ]:
exec_sql(t_romance_sql)

In [ ]:
del t_romance_sql

喜剧

In [ ]:
t_comedy_sql = '''SELECT '2017','t_comedy',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_comedy=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(t_comedy_sql)

In [ ]:
del t_comedy_sql

动画

In [ ]:
t_animate_sql = '''SELECT '2017','t_animate',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_animate=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(t_animate_sql)

In [ ]:
del t_animate_sql

剧情

In [ ]:
t_plot_sql = '''SELECT '2017','t_plot',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_plot=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(t_plot_sql)

In [ ]:
del t_plot_sql

恐怖

In [ ]:
t_horror_sql = '''SELECT '2017','t_horror',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_horror=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(t_horror_sql)

In [ ]:
del t_horror_sql

惊悚

In [ ]:
t_thriller_sql = '''SELECT '2017','t_thriller',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_thriller=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(t_thriller_sql)

In [ ]:
del t_thriller_sql

科幻

In [ ]:
t_science_sql = '''SELECT '2017','t_science',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_science=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(t_science_sql)

In [ ]:
del t_science_sql

动作

In [ ]:
t_action_sql = '''SELECT '2017','t_action',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_action=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(t_action_sql)

In [ ]:
del t_action_sql

悬疑

In [ ]:
t_suspense_sql = '''SELECT '2017','t_suspense',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_suspense=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(t_suspense_sql)

In [ ]:
del t_suspense_sql

犯罪

In [ ]:
t_crime_sql = '''SELECT '2017','t_crime',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_crime=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(t_crime_sql)

In [ ]:
del t_crime_sql

冒险

In [ ]:
t_adventure_sql = '''SELECT '2017','t_adventure',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_adventure=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(t_adventure_sql)

In [ ]:
del t_adventure_sql

战争

In [ ]:
t_war_sql = '''SELECT '2017','t_war',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_war=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(t_war_sql)

In [ ]:
del t_war_sql

奇幻

In [ ]:
t_fantasy_sql = '''SELECT '2017','t_fantasy',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_fantasy=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(t_fantasy_sql)

In [ ]:
del t_fantasy_sql

运动

In [ ]:
t_sports_sql = '''SELECT '2017','t_sports',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_sports=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(t_sports_sql)

In [ ]:
del t_sports_sql

家庭

In [ ]:
t_family_sql ='''SELECT '2017','t_family',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_family=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(t_family_sql)

In [ ]:
del t_family_sql

古装

In [ ]:
t_costume_sql = '''SELECT '2017','t_costume',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_costume=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(t_costume_sql)

In [ ]:
del t_costume_sql

武侠

In [ ]:
t_sword_sql = '''SELECT '2017','t_sword',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_sword=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(t_sword_sql)

In [ ]:
del t_sword_sql

西部

In [ ]:
t_cowboy_sql = '''ELECT '2017','t_cowboy',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_cowboy=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(t_cowboy_sql)

In [ ]:
del t_cowboy_sql

历史

In [ ]:
t_history_sql = '''SELECT '2017','t_history',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_history=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(t_history_sql)

In [ ]:
del t_history_sql

传记

In [9]:
t_biography_sql ='''SELECT '2017','t_biography',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_biography=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(t_biography_sql)

In [ ]:
del t_biography_sql

歌舞

In [ ]:
t_dance_sql = '''SELECT '2017','t_dance',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_dance=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(t_dance_sql)

In [ ]:
del t_dance_sql

黑色电影

In [ ]:
t_dark_sql = '''SELECT '2017','t_dark',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_dark=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(t_dark_sql)

In [ ]:
del t_dark_sql

短片

In [ ]:
t_short_sql = '''SELECT '2017','t_short',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_short=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(t_short_sql)

In [ ]:
del t_short_sql

纪录片

In [ ]:
t_documentary_sql = '''SELECT '2017','t_documentary',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_documentary=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(t_documentary_sql)

In [ ]:
del t_documentary_sql

其他

In [ ]:
t_others_sql = '''SELECT '2017','t_others',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_others=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(t_others_sql)

In [ ]:
del t_others_sql

大陆

In [ ]:
c_Mainland_sql = '''SELECT '2017','c_Mainland',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Mainland=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(c_Mainland_sql)

In [ ]:
del c_Mainland_sql

美国

In [ ]:
c_America_sql = '''SELECT '2017','c_America',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_America=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(c_America_sql)

In [ ]:
del c_America_sql

韩国

In [ ]:
c_Korea_sql = '''SELECT '2017','c_Korea',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Korea=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(c_Korea_sql)

In [ ]:
del c_Korea_sql

日本

In [ ]:
c_Japan_sql = '''SELECT '2017','c_Japan',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Japan=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(c_Japan_sql)

In [ ]:
del c_Japan_sql

香港

In [ ]:
c_Hongkong_sql = '''SELECT '2017','c_Hongkong',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Hongkong=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(c_Hongkong_sql)

In [ ]:
del c_Hongkong_sql

台湾

In [ ]:
c_Taiwan_sql = '''SELECT '2017','c_Taiwan',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Taiwan=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(c_Taiwan_sql)

In [ ]:
del c_Taiwan_sql

泰国

In [ ]:
c_Thailand_sql = '''SELECT '2017','c_Thailand',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Thailand=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(c_Thailand_sql)

In [ ]:
del c_Thailand_sql

印度

In [ ]:
c_India_sql = '''SELECT '2017','c_India',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_India=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(c_India_sql)

In [ ]:
del c_India_sql

法国

In [ ]:
c_France_sql = '''SELECT '2017','c_France',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_France=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(c_France_sql)

In [ ]:
del c_France_sql

英国

In [ ]:
c_England_sql = '''SELECT '2017','c_England',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_England=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(c_England_sql)

In [ ]:
del c_England_sql

俄罗斯

In [ ]:
c_Russia_sql = '''SELECT '2017','c_Russia',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Russia=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(c_Russia_sql)

In [ ]:
del c_Russia_sql

意大利

In [ ]:
c_Italy_sql = '''SELECT '2017','c_Italy',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Italy=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(c_Italy_sql)

In [ ]:
del c_Italy_sql

西班牙

In [ ]:
c_Spain_sql = '''SELECT '2017','c_Spain',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Spain=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(c_Spain_sql)

In [ ]:
del c_Spain_sql

德国

In [ ]:
c_Germany_sql = '''SELECT '2017','c_Germany',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Germany=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(c_Germany_sql)

In [ ]:
del c_Germany_sql

波兰

In [ ]:
c_Poland_sql = '''SELECT '2017','c_Poland',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Poland=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(c_Poland_sql)

In [ ]:
del c_Poland_sql

澳大利亚

In [ ]:
c_Australia_sql = '''SELECT '2017','c_Australia',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Australia=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(c_Australia_sql)

In [ ]:
del c_Australia_sql

伊朗

In [ ]:
c_Iran_sql = '''SELECT '2017','c_Iran',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Iran=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(c_Iran_sql)

In [ ]:
del c_Iran_sql

其他

In [ ]:
c_Others_sql = '''SELECT '2017','c_Others',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Others=1 and mdate < '2017-12-31'and mdate >'2017-01-01') t2'''

In [ ]:
exec_sql(c_Others_sql)

In [ ]:
del c_Others_sql

# 2018

爱情

In [ ]:
t_romance_sql = '''SELECT '2018','t_romance',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_romance=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(t_romance_sql)

In [ ]:
del t_romance_sql

喜剧

In [ ]:
t_comedy_sql = '''SELECT '2018','t_comedy',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_comedy=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(t_comedy_sql)

In [ ]:
del t_comedy_sql

动画

In [ ]:
t_animate_sql = '''SELECT '2018','t_animate',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_animate=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(t_animate_sql)

In [ ]:
del t_animate_sql

剧情

In [ ]:
t_plot_sql = '''SELECT '2018','t_plot',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_plot=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(t_plot_sql)

In [ ]:
del t_plot_sql

恐怖

In [ ]:
t_horror_sql = '''SELECT '2018','t_horror',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_horror=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(t_horror_sql)

In [ ]:
del t_horror_sql

惊悚

In [ ]:
t_thriller_sql = '''SELECT '2018','t_thriller',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_thriller=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(t_thriller_sql)

In [ ]:
del t_thriller_sql

科幻

In [ ]:
t_science_sql = '''SELECT '2018','t_science',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_science=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(t_science_sql)

In [ ]:
del t_science_sql

动作

In [ ]:
t_action_sql = '''SELECT '2018','t_action',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_action=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(t_action_sql)

In [ ]:
del t_action_sql

悬疑

In [ ]:
t_suspense_sql = '''SELECT '2018','t_suspense',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_suspense=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(t_suspense_sql)

In [ ]:
del t_suspense_sql

犯罪

In [ ]:
t_crime_sql = '''SELECT '2018','t_crime',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_crime=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(t_crime_sql)

In [ ]:
del t_crime_sql

犯罪

In [ ]:
t_crime_sql = '''SELECT '2018','t_crime',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_crime=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(t_crime_sql)

In [ ]:
del t_crime_sql

冒险

In [ ]:
t_adventure_sql = '''SELECT '2018','t_adventure',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_adventure=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(t_adventure_sql)

In [ ]:
del t_adventure_sql

战争

In [ ]:
t_war_sql = '''SELECT '2018','t_war',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_war=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(t_war_sql)

In [ ]:
del t_war_sql

奇幻

In [ ]:
t_fantasy_sql = '''SELECT '2018','t_fantasy',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_fantasy=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(t_fantasy_sql)

In [ ]:
del t_fantasy_sql

运动

In [ ]:
t_sports_sql = '''SELECT '2018','t_sports',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_sports=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(t_sports_sql)

In [ ]:
del t_sports_sql

家庭

In [ ]:
t_family_sql ='''SELECT '2018','t_family',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_family=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(t_family_sql)

In [ ]:
del t_family_sql

古装

In [ ]:
t_costume_sql = '''SELECT '2018','t_costume',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_costume=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(t_costume_sql)

In [ ]:
del t_costume_sql

武侠

In [ ]:
t_sword_sql = '''SELECT '2018','t_sword',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_sword=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(t_sword_sql)

In [ ]:
del t_sword_sql

西部

In [ ]:
t_cowboy_sql = '''SELECT '2018','t_cowboy',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_cowboy=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(t_cowboy_sql)

In [ ]:
del t_cowboy_sql

历史

In [ ]:
t_history_sql = '''SELECT '2018','t_history',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_history=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(t_history_sql)

In [ ]:
del t_history_sql

传记

In [ ]:
t_biography_sql ='''SELECT '2018','t_biography',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_biography=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(t_biography_sql)

In [ ]:
del t_biography_sql

歌舞

In [ ]:
t_dance_sql = '''SELECT '2018','t_dance',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_dance=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(t_dance_sql)

In [ ]:
del t_dance_sql

黑色电影

In [ ]:
t_dark_sql = '''SELECT '2018','t_dark',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_dark=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(t_dark_sql)

In [ ]:
del t_dark_sql

短片

In [ ]:
t_short_sql = '''SELECT '2018','t_short',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_short=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(t_short_sql)

In [ ]:
del t_short_sql

纪录片

In [ ]:
t_documentary_sql = '''SELECT '2018','t_documentary',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_documentary=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(t_documentary_sql)

In [ ]:
del t_documentary_sql

其他

In [ ]:
t_others_sql = '''SELECT '2018','t_others',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.t_others=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(t_others_sql)

In [ ]:
del t_others_sql

大陆

In [ ]:
c_Mainland_sql = '''SELECT '2018','c_Mainland',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Mainland=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(c_Mainland_sql)

In [ ]:
del c_Mainland_sql

美国

In [ ]:
c_America_sql = '''SELECT '2018','c_America',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_America=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(c_America_sql)

In [ ]:
del c_America_sql

韩国

In [ ]:
c_Korea_sql = '''SELECT '2018','c_Korea',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Korea=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(c_Korea_sql)

In [ ]:
del c_Korea_sql

日本

In [ ]:
c_Japan_sql = '''SELECT '2018','c_Japan',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Japan=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(c_Japan_sql)

In [ ]:

del c_Japan_sql

香港

In [12]:
c_Hongkong_sql = '''SELECT '2018','c_Hongkong',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Hongkong=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(c_Hongkong_sql)

In [ ]:
del c_Hongkong_sql

台湾

In [ ]:
c_Taiwan_sql = '''SELECT '2018','c_Taiwan',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Taiwan=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(c_Taiwan_sql)

In [ ]:
del c_Taiwan_sql

泰国

In [ ]:
c_Thailand_sql = '''SELECT '2018','c_Thailand',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Thailand=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(c_Thailand_sql)

In [ ]:
del c_Thailand_sql

印度

In [ ]:
c_India_sql = '''SELECT '2018','c_India',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_India=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(c_India_sql)

In [ ]:
del c_India_sql

法国

In [ ]:
c_France_sql = '''SELECT '2018','c_France',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_France=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(c_France_sql)

In [ ]:
del c_France_sql

英国

In [ ]:
c_England_sql = '''SELECT '2018','c_England',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_England=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(c_England_sql)

In [ ]:
del c_England_sql

俄罗斯

In [ ]:
c_Russia_sql = '''SELECT '2018','c_Russia',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Russia=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(c_Russia_sql)

In [ ]:
del c_Russia_sql

意大利

In [ ]:
c_Italy_sql = '''SELECT '2018','c_Italy',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Italy=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(c_Italy_sql)

In [ ]:
del c_Italy_sql

西班牙

In [ ]:
c_Spain_sql = '''SELECT '2018','c_Spain',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Spain=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(c_Spain_sql)

In [ ]:
del c_Spain_sql

德国

In [ ]:
c_Germany_sql = '''SELECT '2018','c_Germany',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Germany=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(c_Germany_sql)

In [ ]:
del c_Germany_sql

波兰

In [ ]:
c_Poland_sql = '''SELECT '2018','c_Poland',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Poland=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(c_Poland_sql)

In [ ]:
del c_Poland_sql

澳大利亚

In [ ]:
c_Australia_sql = '''SELECT '2018','c_Australia',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Australia=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(c_Australia_sql)

In [ ]:
del c_Australia_sql

伊朗

In [ ]:
c_Iran_sql = '''SELECT '2018','c_Iran',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Iran=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(c_Iran_sql)

In [ ]:
del c_Iran_sql

其他

In [ ]:
c_Others_sql = '''SELECT '2018','c_Others',t2.v FROM (SELECT SUM(t1.boxoffice) AS v FROM film44 t1 WHERE t1.c_Others=1 and mdate < '2018-12-31'and mdate >'2018-01-01') t2'''

In [ ]:
exec_sql(c_Others_sql)

In [ ]:
del c_Others_sql