In [1]:
import pymysql

In [2]:
#打开数据库连接
db= pymysql.connect(host="127.0.0.1",user="root",
     password="123456",db="comex",port=3306)

In [3]:
cursor = db.cursor()

In [4]:
cursor.execute("DROP TABLE IF EXISTS personas")

0

In [5]:
sql = '''CREATE TABLE `comex`.`personas` (`id` varchar(100),
`name` varchar(20),
`male` varchar(20),
`female` varchar(20),
`under20` varchar(20),
`20to24` varchar(20),
`25to29` varchar(20),
`30to34` varchar(20),
`35to39` varchar(20),
`above40` varchar(20),
`degree_high` varchar(20),
`degree_low` varchar(20),
`city1` varchar(20),
`city2` varchar(20),
`city3` varchar(20),
`city4` varchar(20),
`occupation_whitecollar` varchar(20),
`occupation_student` varchar(20),
`occupation_others` varchar(20),
`preference_action` varchar(20),
`preference_comedy` varchar(20),
`preference_romance` varchar(20),
`occupation_science` varchar(20),
`occupation_animate` varchar(20)
) ENGINE=InnoDB DEFAULT CHARSET=utf8
'''

In [6]:
cursor.execute(sql)

0

In [7]:
db.close()