In [2]:
import pymysql

In [3]:
#打开数据库连接
db= pymysql.connect(host="127.0.0.1",user="root",
     password="123456",db="comex",port=3306)

In [4]:
cursor = db.cursor()

# 依据需求文档进行数据库建表

# table_1_district(地区分布）

In [5]:
cursor.execute("DROP TABLE IF EXISTS district")

/home/hadoop/.local/lib/python3.5/site-packages/pymysql/cursors.py:170: Warning: (1051, "Unknown table 'comex.district'")
  result = self._query(query)

0

In [6]:
table_1_sql = '''CREATE TABLE `comex`.`district` (`city1` varchar(20),
`city2` varchar(20),
`city3` varchar(20),
`city4` varchar(20)
) ENGINE=InnoDB DEFAULT CHARSET=utf8
'''

In [7]:
cursor.execute(table_1_sql)

0

# table_2_relation_bet_gen_and_bo（性别和票房的关系）

In [8]:
cursor.execute("DROP TABLE IF EXISTS relation_bet_gen_and_bo")

/home/hadoop/.local/lib/python3.5/site-packages/pymysql/cursors.py:170: Warning: (1051, "Unknown table 'comex.relation_bet_gen_and_bo'")
  result = self._query(query)

0

In [9]:
#mclass,data待补充
table_2_sql = '''CREATE TABLE `comex`.`relation_bet_gen_and_bo` (`male` varchar(100),
`female` varchar(20),
`boxoffice` varchar(20)
) ENGINE=InnoDB DEFAULT CHARSET=utf8
'''

In [11]:
cursor.execute(table_2_sql)

0

# table_3_female_per_by_hyear(每半年统计一次）

In [45]:
cursor.execute("DROP TABLE IF EXISTS female_per_by_hyear")

0

In [12]:
table_3_sql = '''CREATE TABLE `comex`.`female_per_by_hyear` (`mdate` varchar(20),
`female_per` varchar(20)
) ENGINE=InnoDB DEFAULT CHARSET=utf8
'''

In [13]:
cursor.execute(table_3_sql)

0

# table_4_CUPage

In [42]:
cursor.execute("DROP TABLE IF EXISTS relation_bet_gen_and_class")

0

In [43]:
table_4_sql = '''CREATE TABLE `comex`.`relation_bet_gen_and_class` (`class` varchar(100),
`male` varchar(20),
`female` varchar(20)
) ENGINE=InnoDB DEFAULT CHARSET=utf8
'''

In [44]:
cursor.execute(table_4_sql)

0

# table_5_relation_bet_age_and_class(年龄和类别的关系）

In [83]:
cursor.execute("DROP TABLE IF EXISTS relation_bet_age_and_class")

0

In [84]:
table_5_sql = '''CREATE TABLE `comex`.`relation_bet_age_and_class` (
`class` varchar(20),
`under20` varchar(20),
`20to24` varchar(20),
`25to29` varchar(20),
`30to34` varchar(20),
`35to39` varchar(20),
`above40` varchar(20)
) ENGINE=InnoDB DEFAULT CHARSET=utf8
'''

In [85]:
cursor.execute(table_5_sql)

0

# table_6_relation_among_date_class_boxo(年份、类别与票房的关系)

In [86]:
cursor.execute("DROP TABLE IF EXISTS relation_among_date_class_boxo")

/home/hadoop/.local/lib/python3.5/site-packages/pymysql/cursors.py:170: Warning: (1051, "Unknown table 'comex.relation_among_date_class_boxo'")
  result = self._query(query)

0

In [87]:
table_6_sql = '''CREATE TABLE `comex`.`relation_among_date_class_boxo` (`ftime` varchar(20),
`class` varchar(20),
`boxoffice` varchar(20)
) ENGINE=InnoDB DEFAULT CHARSET=utf8
'''

In [88]:
cursor.execute(table_6_sql)

0

#  create_relation_bet_degree_and_class_table(学历和种类的关系)

In [89]:
cursor.execute("DROP TABLE IF EXISTS relation_bet_degree_and_class")

/home/hadoop/.local/lib/python3.5/site-packages/pymysql/cursors.py:170: Warning: (1051, "Unknown table 'comex.relation_bet_degree_and_class'")
  result = self._query(query)

0

In [91]:
table_7_sql = '''CREATE TABLE `comex`.`relation_bet_degree_and_class` (`class` varchar(100),
`degree_high` varchar(20),
`degree_low` varchar(20)
) ENGINE=InnoDB DEFAULT CHARSET=utf8
'''

In [92]:
cursor.execute(table_7_sql)

0

# create_gross_boxo_and_top_boxo_changes_table(总票房与最高票房变化)

In [93]:
cursor.execute("DROP TABLE IF EXISTS gross_boxo_and_top_boxo_changes")

/home/hadoop/.local/lib/python3.5/site-packages/pymysql/cursors.py:170: Warning: (1051, "Unknown table 'comex.gross_boxo_and_top_boxo_changes'")
  result = self._query(query)

0

In [94]:
table_8_sql = '''CREATE TABLE `comex`.`gross_boxo_and_top_boxo_changes` (`country` varchar(100),
`topb` varchar(20),
`mdate` varchar(20),
`grossb` varchar(20)
) ENGINE=InnoDB DEFAULT CHARSET=utf8
'''

In [95]:
cursor.execute(table_8_sql)

0

#  table_9_relation_among_sdate_mclass_and_boxo(暑期档和贺岁档电影类型和票房的关系)

In [96]:
cursor.execute("DROP TABLE IF EXISTS relation_among_sdate_class_boxo")

/home/hadoop/.local/lib/python3.5/site-packages/pymysql/cursors.py:170: Warning: (1051, "Unknown table 'comex.relation_among_sdate_class_boxo'")
  result = self._query(query)

0

In [97]:
table_9_sql = '''CREATE TABLE `comex`.`relation_among_sdate_class_boxo` (`sdate` varchar(100),
`class` varchar(20),
`boxoffice` varchar(20)
) ENGINE=InnoDB DEFAULT CHARSET=utf8
'''

In [98]:
cursor.execute(table_9_sql)

0

In [ ]:
db.close()