In [25]:
import pymysql

In [26]:
#打开数据库连接
db= pymysql.connect(host="127.0.0.1",user="root",
     password="123456",db="comex",port=3306)

In [27]:
cursor = db.cursor()

In [28]:
#cursor.execute("DROP TABLE IF EXISTS personas")

/home/hadoop/.local/lib/python3.5/site-packages/pymysql/cursors.py:170: Warning: (1051, "Unknown table 'comex.test'")
  result = self._query(query)

0

In [31]:
sql ='''CREATE TABLE `comex`.`personas` (`id` varchar(20),
`name` varchar(20),
`man` varchar(20),
`woman` varchar(20),
`below20` varchar(20),
`t_to_t4` varchar(20),
`t5_to_t9` varchar(20),
`th_to_th4` varchar(20),
`th5_to_th9` varchar(20),
`above40` varchar(20),
`bachelor_degree_or_above` varchar(20),
`undergraduate_and_below` varchar(20),
`second_tier_city` varchar(20),
`fourth_tier_city` varchar(20),
`third_tier_citiy` varchar(20),
`first_tier_city` varchar(20),
`occupation1` varchar(20),
`per1` varchar(20),
`occupation2` varchar(20),
`per2` varchar(20),
`occupation3` varchar(20),
`per3` varchar(20),
`preference_film1` varchar(20),
`pers1` varchar(20),
`preference_film2` varchar(20),
`pers2` varchar(20),
`preference_film3` varchar(20),
`pers3` varchar(20),
`preference_film4` varchar(20),
`pers4` varchar(20),
`preference_film5` varchar(20),
`pers5` varchar(20),
`bought1` varchar(20),
`bought2` varchar(20),
`bought3` varchar(20),
`bought4` varchar(20),
`bought5` varchar(20),
`bought6` varchar(20),
`bought7` varchar(20),
`bought8` varchar(20),
`bought9` varchar(20),
`bought10` varchar(20))
ENGINE=InnoDB DEFAULT CHARSET=utf8;'''

In [32]:
cursor.execute(sql)

0

In [33]:
db.close()