In [1]:
import pymysql

In [2]:
#打开数据库连接
db= pymysql.connect(host="127.0.0.1",user="root",
     password="123456",db="comex",port=3306)

In [3]:
cursor = db.cursor()

In [4]:
cursor.execute("DROP TABLE IF EXISTS personas")

0

In [5]:
sql = '''CREATE TABLE `comex`.`personas` (`id` varchar(100),
`name` varchar(20),
`male` varchar(20),
`female` varchar(20),
`under20` varchar(20),
`20to24` varchar(20),
`25to29` varchar(20),
`30to34` varchar(20),
`35to39` varchar(20),
`above40` varchar(20),
`degree_high` varchar(20),
`degree_low` varchar(20),
`city1` varchar(20),
`city2` varchar(20),
`city3` varchar(20),
`city4` varchar(20),
`occupation_whitecollar` varchar(20),
`occupation_student` varchar(20),
`occupation_others` varchar(20),
`preference_action` varchar(20),
`preference_comedy` varchar(20),
`preference_romance` varchar(20),
`occupation_science` varchar(20),
`occupation_animate` varchar(20)
) ENGINE=InnoDB DEFAULT CHARSET=utf8
'''

In [6]:
cursor.execute(sql)

0

# 依据需求文档进行数据库建表

# table_1_PUPsex

In [7]:
cursor.execute("DROP TABLE IF EXISTS table_1_PUPsex")

0

In [5]:
#piao,data待补充
create_table_1_PUPsex_sql = '''CREATE TABLE `comex`.`table_1_PUPsex` (`id` varchar(100),
`name` varchar(20),
`male` varchar(20),
`female` varchar(20)
) ENGINE=InnoDB DEFAULT CHARSET=utf8
'''

In [6]:
cursor.execute(create_table_1_PUPsex_sql)

0

# table_2_CUPsex

In [11]:
cursor.execute("DROP TABLE IF EXISTS table_2_CUPsex")

0

In [9]:
#mclass,data待补充
create_table_2_CUPsex_sql = '''CREATE TABLE `comex`.`table_2_CUPsex` (`id` varchar(100),
`name` varchar(20),
`male` varchar(20),
`female` varchar(20)
) ENGINE=InnoDB DEFAULT CHARSET=utf8
'''

In [10]:
cursor.execute(create_table_2_CUPsex_sql)

0

# table_3_PUPage

In [45]:
cursor.execute("DROP TABLE IF EXISTS table_3_PUPage")

0

In [43]:
#data,piao待补充
create_table_3_PUPage_sql = '''CREATE TABLE `comex`.`table_3_PUPage` (`id` varchar(100),
`name` varchar(20),
`under20` varchar(20),
`20to24` varchar(20),
`25to29` varchar(20),
`30to34` varchar(20),
`above40` varchar(20)
) ENGINE=InnoDB DEFAULT CHARSET=utf8
'''

In [44]:
cursor.execute(create_table_3_PUPage_sql)

0

# table_4_CUPage

In [50]:
cursor.execute("DROP TABLE IF EXISTS table_4_CUPage")

0

In [48]:
#data,mclass待补充
create_table_4_CUPage_sql = '''CREATE TABLE `comex`.`table_4_CUPage` (`id` varchar(100),
`name` varchar(20),
`under20` varchar(20),
`20to24` varchar(20),
`25to29` varchar(20),
`30to34` varchar(20),
`above40` varchar(20)
) ENGINE=InnoDB DEFAULT CHARSET=utf8
'''

In [49]:
cursor.execute(create_table_4_CUPage_sql)

0

# table_5_PUPedu

In [55]:
cursor.execute("DROP TABLE IF EXISTS table_5_PUPedu")

0

In [53]:
#data,piao待补充
create_table_5_PUPedu_sql = '''CREATE TABLE `comex`.`table_5_PUPedu` (`id` varchar(100),
`name` varchar(20),
`degree_high` varchar(20),
`degree_low` varchar(20)
) ENGINE=InnoDB DEFAULT CHARSET=utf8
'''

In [54]:
cursor.execute(create_table_5_PUPedu_sql)

0

# table_6_PUPdistrict

In [61]:
cursor.execute("DROP TABLE IF EXISTS table_6_PUPdistrict")

0

In [59]:
#data,piao待补充
create_table_6_PUPdistrict_sql = '''CREATE TABLE `comex`.`table_6_PUPdistrict` (`city1` varchar(20),
`city2` varchar(20),
`city3` varchar(20),
`city4` varchar(20)
) ENGINE=InnoDB DEFAULT CHARSET=utf8
'''

In [60]:
cursor.execute(create_table_6_PUPdistrict_sql)

0

# table_7_PMUjob

In [126]:
cursor.execute("DROP TABLE IF EXISTS table_7_PMUjob")

0

In [127]:
#data，piao待补充
create_table_7_PMUjob_sql = '''CREATE TABLE `comex`.`table_7_PMUjob` (`id` varchar(100),
`name` varchar(20),
`occupation_whitecollar` varchar(20),
`occupation_student` varchar(20),
`occupation_others` varchar(20)
) ENGINE=InnoDB DEFAULT CHARSET=utf8
'''

In [128]:
cursor.execute(create_table_7_PMUjob_sql)

0

# table_8_CMUjob

In [132]:
cursor.execute("DROP TABLE IF EXISTS table_8_CMUjob")

0

In [130]:
#data,mclass待补充
create_table_8_CMUjob_sql = '''CREATE TABLE `comex`.`table_8_CMUjob` (`id` varchar(100),
`name` varchar(20),
`occupation_whitecollar` varchar(20),
`occupation_student` varchar(20),
`occupation_others` varchar(20)
) ENGINE=InnoDB DEFAULT CHARSET=utf8
'''

In [131]:
cursor.execute(create_table_8_CMUjob_sql)

0

# table_9_DataPiao

In [136]:
cursor.execute("DROP TABLE IF EXISTS table_9_DataPiao")

0

In [134]:
#data,piao待补充
create_table_9_DataPiao_sql = '''CREATE TABLE `comex`.`table_9_DataPiao` (`id` varchar(100),
`name` varchar(20)
) ENGINE=InnoDB DEFAULT CHARSET=utf8
'''

In [135]:
cursor.execute(create_table_9_DataPiao_sql)

0

# table_10_DataClass

In [140]:
cursor.execute("DROP TABLE IF EXISTS table_10_DataClass")

0

In [141]:
#data,mclass待补充
create_table_10_DataClass_sql = '''CREATE TABLE `comex`.`table_10_DataClass` (`id` varchar(100),
`name` varchar(20)
) ENGINE=InnoDB DEFAULT CHARSET=utf8
'''

In [139]:
cursor.execute(create_table_10_DataClass_sql)

0

# table_11_PiaoClass

In [145]:
cursor.execute("DROP TABLE IF EXISTS table_11_PiaoClass")

0

In [143]:
#mclass,piao待补充
create_table_11_PiaoClass_sql = '''CREATE TABLE `comex`.`table_11_PiaoClass` (`id` varchar(100),
`name` varchar(20)
) ENGINE=InnoDB DEFAULT CHARSET=utf8
'''

In [144]:
cursor.execute(create_table_11_PiaoClass_sql)

0

In [146]:
db.close()